src/AbsMedical/AbsMedical/Service References/AbsMedicalServiceReference/AbsMedicalService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AbsMedical.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AbsMedical.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MedicalAbs">
    <xs:sequence>
      <xs:element minOccurs="0" name="DoctorGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StudentGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VisitDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedicalAbs" nillable="true" type="tns:MedicalAbs" />
</xs:schema>