src/AbsMedical/AbsMedical/Service References/AbsMedicalServiceReference/AbsMedicalService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2797/AbsMedicalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AbsMedical.WCF" />
  <xs:element name="RegisterAbsMedical">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AbsMedical.WCF" minOccurs="0" name="medicalAbs" nillable="true" type="q1:MedicalAbs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAbsMedicalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterAbsMedicalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbsMedicalByStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbsMedicalByStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AbsMedical.WCF" minOccurs="0" name="GetAbsMedicalByStudentResult" nillable="true" type="q2:ArrayOfMedicalAbs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>