src/AbsMedical/AbsMedical/Service References/DoctorServiceReference/DoctorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2797/DoctorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AbsMedical.WCF" />
  <xs:element name="GetDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doctorGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AbsMedical.WCF" minOccurs="0" name="GetDoctorResult" nillable="true" type="q1:Doctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Find">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AbsMedical.WCF" minOccurs="0" name="FindResult" nillable="true" type="q2:Doctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AbsMedical.WCF" minOccurs="0" name="doctor" nillable="true" type="q3:Doctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDoctorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doctorGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AbsMedical.WCF" minOccurs="0" name="doctor" nillable="true" type="q4:Doctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateDoctorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterMailConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AbsMedical.WCF" minOccurs="0" name="conf" nillable="true" type="q5:MailConfiguration" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AbsMedical.WCF" minOccurs="0" name="doctor" nillable="true" type="q6:Doctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterMailConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterMailConfigurationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMailConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="confGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMailConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AbsMedical.WCF" minOccurs="0" name="GetMailConfigurationResult" nillable="true" type="q7:MailConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>