src/AbsMedical/AbsMedical/Service References/DoctorServiceReference/DoctorService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AbsMedical.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AbsMedical.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="doctor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryId" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="absmedical" nillable="true" type="tns:ArrayOfabsmedical" />
      <xs:element minOccurs="0" name="country" nillable="true" type="tns:country" />
      <xs:element minOccurs="0" name="mailconfiguration" nillable="true" type="tns:ArrayOfmailconfiguration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="doctor" nillable="true" type="tns:doctor" />
  <xs:complexType name="ArrayOfabsmedical">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="absmedical" nillable="true" type="tns:absmedical" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfabsmedical" nillable="true" type="tns:ArrayOfabsmedical" />
  <xs:complexType name="absmedical">
    <xs:sequence>
      <xs:element minOccurs="0" name="DoctorGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StudentGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VisitDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="doctor" nillable="true" type="tns:doctor" />
      <xs:element minOccurs="0" name="student" nillable="true" type="tns:student" />
      <xs:element minOccurs="0" name="visit" nillable="true" type="tns:visit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="absmedical" nillable="true" type="tns:absmedical" />
  <xs:complexType name="student">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Birthdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Birthplace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryId" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchoolGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocialSecurityNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="absmedical" nillable="true" type="tns:ArrayOfabsmedical" />
      <xs:element minOccurs="0" name="country" nillable="true" type="tns:country" />
      <xs:element minOccurs="0" name="school" nillable="true" type="tns:school" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="student" nillable="true" type="tns:student" />
  <xs:complexType name="country">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="doctor" nillable="true" type="tns:ArrayOfdoctor" />
      <xs:element minOccurs="0" name="school" nillable="true" type="tns:ArrayOfschool" />
      <xs:element minOccurs="0" name="student" nillable="true" type="tns:ArrayOfstudent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="country" nillable="true" type="tns:country" />
  <xs:complexType name="ArrayOfdoctor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="doctor" nillable="true" type="tns:doctor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdoctor" nillable="true" type="tns:ArrayOfdoctor" />
  <xs:complexType name="ArrayOfschool">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="school" nillable="true" type="tns:school" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfschool" nillable="true" type="tns:ArrayOfschool" />
  <xs:complexType name="school">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryId" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country" nillable="true" type="tns:country" />
      <xs:element minOccurs="0" name="student" nillable="true" type="tns:ArrayOfstudent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="school" nillable="true" type="tns:school" />
  <xs:complexType name="ArrayOfstudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="student" nillable="true" type="tns:student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstudent" nillable="true" type="tns:ArrayOfstudent" />
  <xs:complexType name="visit">
    <xs:sequence>
      <xs:element minOccurs="0" name="VisitDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="absmedical" nillable="true" type="tns:ArrayOfabsmedical" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="visit" nillable="true" type="tns:visit" />
  <xs:complexType name="ArrayOfmailconfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mailconfiguration" nillable="true" type="tns:mailconfiguration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmailconfiguration" nillable="true" type="tns:ArrayOfmailconfiguration" />
  <xs:complexType name="mailconfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="DoctorGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="Smtp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="doctor" nillable="true" type="tns:doctor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mailconfiguration" nillable="true" type="tns:mailconfiguration" />
</xs:schema>